extends layout
block content
    p Addbook
    .container-fluid
        .row.justify-content-center
            .col-xl-12
                form(method='POST' action='/users/add' enctype='multipart/form-data')
                    .form-group
                        label ISBN:
                        input.form-control(name='isbn' type='text')
                    .form-group
                        label bookname:
                        input.form-control(name='bookname' type='text')
                    .form-group
                        label image:
                        input(type='file' name='image')
                    .form-group 
                        input.btn.btn-primary(name='button' value='submit' type='submit')