extends layout
block content
    .container-fluid
        .row.justify-content-center
            .col-xl-6.col-md-6.blocklog.text-center
                h1.text-center add book to your own
                form(method='POST' action='/users/add' enctype='multipart/form-data')
                    .form-group
                        input.my-4(type='file' name='image' placeholder='select your cover')
                    .form-group
                        input.form-control.mx-auto(name='isbn' type='text' placeholder='ISBN')
                    .form-group
                        input.form-control.mx-auto(name='bookname' type='text' placeholder='Bookname')
                    .form-group 
                        input.btn.btn-primary(name='button' value='submit' type='submit')