extends layout
block content
    .container
        .row.justify-content-center
            .col-xl-6.col-md-6.blocklog.text-center
                h3 prepare to export to shopping mall
                h3 please fill in your book details
                img.img-thumbnail(src='http://localhost:8080/images/bookpicture/'+bookdata[0].book_image , style='height:265px;width:345px')
                p SSID: #{bookdata[0].SSID}
                form(method='POST', action='/shopcart/add', enctype='multipart/form-data')
                    input.form-control.edit.mx-auto(type='hidden' name='ssid' value=bookdata[0].SSID)
                    input.form-control.edit.mx-auto(type='text', name='price' placeholder='price')
                    input.form-control.edit.mx-auto(type='text', name='tag' placeholder='fill your tag')
                    textarea.form-control.mx-auto(name='description' placeholder='fill your description' rows='4' cols='25')
                    input.btn.btn-primary(name='button', value='submit', type='submit')


