extends layout
block content
    h1 hello world
    if allow
        a(href='/users/'+information+'/profile') PROFILE
        br
        a(href='/users/'+information+'/mybook') MY BOOK
        br
        a(href = '/users/logout') LOGOUT
        br
        a(href='/users/'+information+'/addBook') ADD
        br
        a(href='/users/'+information+'/edit') EDIT
    else
        a(href='users/register') REGISTER
        p
        a(href='users/login') LOGIN