extends layout
block content
    if !allow
        nav.navbar.navbar-expand.navbar-light(style='background-color: #e3f2fd;')
            .container-fluid
                a.navbar-brand(href='/')
                    img(src='http://localhost:8080/images/assets/book.svg' width='45rem' height='45rem')
                    span  Softbox book store
                ul.navbar-nav
                    li.nav-item
                        a.nav-link(href='/') Home
                    li.nav-item
                        a.nav-link(href='/users/login') Store
                    li.nav-item
                        a.nav-link(href='/') Blog
                    li.nav-item
                        a.nav-link(href='#lower') Contract
                    li.nav-item
                        a.nav-link(href='/users/login') Sign in
        .container
            .row.justify-content-center.my-4
                .col-xl-5.col-md-5
                    h1 Consider to be our reader
                    p.mx-4 to place the book and buy some book 
                    a(href='/users/register')
                        button.btn.btn-primary sign up
                .col-xl-5.col-md-5
                    img(src="http://localhost:8080/images/assets/book.svg" width='300rem' height='auto')
            .row.justify-content-center.my-4
                .col-xl-5.col-md-5
                    img(src="http://localhost:8080/images/assets/book (1).svg" width='300rem' height='auto')
                .col-xl-5.col-md-5
                    h1 already had an account?
                    p.mx-4 then login to our online bookshop!!! 
                    a(href='/users/login')
                        button.btn.btn-primary sign in
    else
        nav.navbar.navbar-expand.navbar-light(style='background-color: #e3f2fd;')
            .container-fluid
                a.navbar-brand(href='/')
                    img(src='http://localhost:8080/images/assets/book.svg' width='45rem' height='45rem')
                    span  Softbox book store
                p welcome 
                    span=information
                ul.navbar-nav
                    li.nav-item
                        a.nav-link(href='/') Home
                    li.nav-item
                        a.nav-link(href='/shopcart') Store
                    li.nav-item
                        a.nav-link(href='/') Blog
                    li.nav-item
                        a.nav-link(href='#lower') Contract
                    li.nav-item 
                        a.nav-link(href='/users/' + information + '/profile') Profile
                    li.nav-item
                        a.nav-link(href='/users/logout') Sign out
        .container
            .row.justify-content-center.my-4
                .col-xl-5.col-md-5
                    h1 check you book on your own
                    p.mx-4 your book is ready to read 
                    a(href='/users/' + information + '/profile')
                        button.btn.btn-primary profile
                .col-xl-5.col-md-5
                    img(src='http://localhost:8080/images/assets/student.svg' width='300rem' height='auto')
            .row.justify-content-center.my-4
                .col-xl-5.col-md-5
                    img(src='http://localhost:8080/images/assets/search.svg' width='300rem' height='auto')
                .col-xl-5.col-md-5
                    h1 consider to buy some book
                    p.mx-4 let go spend some money to buy some book 
                    a(href='/shopcart')
                        button.btn.btn-primary go to the store
        label find some book you want
        form(method='POST', action='/search')
            input(type='text', name='search')
            input(name='box', type='submit' value='search')
