doctype html
html
    head
        link(rel='stylesheet' href='/css/style.css')
        title proj
    body
        != messages('message',locals)
        block content

        hr
        footer
            p copyright &copy; 2020 half-softbox