extends layout
block content
    nav.navbar.navbar-light(style='background-color: #e3f2fd;' )
        .container
            a.navbar-brand(href='/')
                img(src='http://localhost:8080/images/assets/book.svg' width='60rem' height='60rem')
                span.mx-2 Softbox book shop
    .container
        .row.justify-content-center
            .col-xl-5.col-md-5.blocklog.text-center
                h1 Sign in
                hr.my-4.mx-auto
                form(method='POST' action='/users/login')
                    .form-group
                        input.form-control.mx-auto(name='username' type='text' placeholder='username')
                    .form-group
                        input.form-control.mx-auto(name='password' type='password' placeholder='password')
                    .form-group
                        input.btn.btn-primary(type='submit' value='sign in')
                p don't have any account 
                    a.link-success(href='/users/register') create some