extends layout
block content
    div(style='align:center')
        img(src='http://localhost:5656/images/userpicture/'+userdata[0].user_image style='height:125px;width:125px')
        br
        label name:
        p= userdata[0].user_name
        br
        label your tier:
        p= userdata[0].userTier
        label your current balance:
        p= userdata[0].user_balance
