extends layout
block content
    nav.navbar.navbar-light(style='background-color: #e3f2fd;' )
        .container
            a.navbar-brand(href='/')
                img(src='http://localhost:8080/images/assets/book.svg' width='60rem' height='60rem')
                span Softbox book shop
    .container.my-4
        .row
            each detail in bookdetail
                .col-mx-3.col-xl-3.my-4
                    form.card(method='POST', action='/shopcart/'+detail.SSID style='width:18rem')
                        img.card-img-top(src='http://localhost:8080/images/bookpicture/'+detail.book_image   onclick='buying('+detail.SSID+')')
                        .card-body
                            h3.card-title=detail.bookname 
                            h5.card-title price: #{detail.book_price} ฿
                            p.card-text=detail.book_description
                            p.card-text owner: #{detail.user_name}
                            input.btn.btn-primary(type='submit', value='BUY')