
.alert-error{
    color: #a94442;
    background-color: #f2dede;
    border-color:#ebccd1;
}
.alert-danger{
    color: #a94442;
    background-color: #f2dede;
    border-color:#ebccd1;
}
.alert-success{
    color: #3c763d;
    background-color: #dff0d8;
    border-color:#d6e9c6;
}
.form-group>input.form-control{
    border: none;
    outline:none;
    border-bottom: 2px solid rgb(163, 228, 245);
    margin:2rem;
    width:30%;
}
input.edit{
    border: none;
    outline:none;
    border-bottom: 2px solid rgb(163, 228, 245);
    margin-bottom: 1rem;
    width:30%;
}
label.edit{
    margin-bottom: 1rem;
}
input.btn.btn-primary{
    margin: 1rem;
}
.blocklog{
    border:5px solid rgb(194, 231, 240);
    border-radius: 2.5rem;
    padding:2.5rem;
    margin:2.5rem;
}