.alert-error{
    color: #a94442;
    background-color: #f2dede;
    border-color:#ebccd1;
}
.alert-danger{
    color: #a94442;
    background-color: #f2dede;
    border-color:#ebccd1;
}
.alert-success{
    color: #3c763d;
    background-color: #dff0d8;
    border-color:#d6e9c6;
}
.form-group>input.form-control{
    border: none;
    outline:none;
    border-bottom: 2px solid rgb(163, 228, 245);
    margin:2rem;
    width:65%;
    font-size:1.25rem;
}
input.edit{
    border: none;
    outline:none;
    border-bottom: 2px solid rgb(163, 228, 245);
    margin-bottom: 1rem;
    width:30%;
}
label.edit{
    margin-bottom: 1rem;
}
.blocklog{
    border:5px solid rgb(194, 231, 240);
    border-radius: 2.5rem;
    padding:2.5rem;
    margin:2.5rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
input.btn.btn-primary{
    padding:.5rem 2rem .5rem 2rem ;
    border-radius:12rem;
    box-shadow: 0 4px 8px 0 rgba(2, 92, 226, 0.5), 0 6px 20px 0 rgba(2, 92, 226, 0.19);
    margin: 1rem;
}
hr{
    border:2px solid #C2E7F0 ;
    width: 60%;
    color:#C2E7F0;
}
button.btn.btn-primary{
    padding:.5rem 2rem .5rem 2rem ;
    border-radius:12rem;
    box-shadow: 0 4px 8px 0 rgba(2, 92, 226, 0.5), 0 6px 20px 0 rgba(2, 92, 226, 0.19);
    margin: 1rem;
}
img.profile{
    width: auto;
    height: 20rem;
    border-radius: 2rem;
    border: 3px solid #c2e7f0;
}
span.profile{
    color:#3ea8f3;
}
.profile{
    font-size:3rem;
}
.showBook{
    font-size:2rem;
}
td.showBook{
    font-size:1.5rem;
}
textarea.form-control{
    resize:none;
    width: 70%;
    margin: 1rem;
}
/* table.table.table-primary{
    border-radius: 12rem;
} */